.wd-course-navigation{
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 120px;
    margin: 0px;
    margin-left: 10px;

}

.wd-course-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-course-navigation li.wd-active{
    border-left: 1px solid black;
    background-color: white;
}

.wd-course-navigation li.wd-active a{
    color: black;
}

.wd-course-navigation a{
    color: red;
    text-decoration: none;
}